{% load static %}
<div class="sss">
    <img style="height: 500px; width: 500px;" src="/media/{{ file }}">
</div>
<div class="b-popup-content">
<div onclick="PopUpHide()" class="close_tab">

</div>
    <form method="post">

        {% csrf_token %}
        {{ form.as_p }}

        <input class="cancel0" name="CRUD_app" type="submit" value="Сохранить заявление">
    </form>
    {% if type == 'applications' %}
        <form method="post" action="" id="addForm" name="">
            {{ form.hidden_id }}
            {% csrf_token %}
            <input class="cancel" name="CRUD_app" type="submit" value="Отклонить заявление">
        </form>
    {% endif %}
    {% if type == 'reg_app' %}
        <form method="post" action="" id="addForm" name="">
            {{ form.hidden_id }}
            {% csrf_token %}
            <input class="cancel" name="CRUD_app" type="submit" value="Удалить заявление">
        </form>
    {% endif %}
</div>
